* {
  margin: 0%;
  padding: 0%;
}

body {
  position: absolute;
  width: 1440px;
  height: 5095px;
  left: 0px;
  top: 0px;
  color: #ffffff;
}

/* Icons Cloud */
.cloud-icon {
  position: absolute;
  width: 1240px;
  height: 100px;
  left: 100px;
  top: 925px;
}

.cloud-item1 {
  position: absolute;
  width: 532px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.cloud-item1 .img {
  position: absolute;
  left: 0%;
  right: 91.94%;
  top: 0%;
  bottom: 0%;
}

.textcontent-1 {
  position: absolute;
  left: 10.48%;
  right: 0%;
  top: 8%;
  bottom: 7%;
}

.textcontent-1 h4 {
  position: absolute;
  height: 49px;
  left: 0%;
  right: 57.71%;
  top: calc(50% - 49px / 2 - 18px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 6000;
  font-size: 30px;
  line-height: 49px;
  color: #234cad;
}

.textcontent-1 p {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px / 2 + 24.5px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #234cad;
}

.cloud-item2 {
  position: absolute;
  width: 553px;
  height: 100px;
  left: 687px;
  top: 0px;
}

.cloud-item2 .img {
  position: absolute;
  left: 55.4%;
  right: 36.53%;
  top: 0%;
  bottom: 0%;
}

.textcontent-2 {
  position: absolute;
  left: 22.48%;
  right: -57.1%;
  top: 8%;
  bottom: 7%;
}

.textcontent-2 h4 {
  position: absolute;
  height: 49px;
  left: 0%;
  right: 73.76%;
  top: calc(50% - 49px / 2 - 18px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;
  color: #234cad;
}

.textcontent-2 p {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px / 2 + 24.5px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #234cad;
}

/* Text Center */
.web-sectiontextcenter {
  position: absolute;
  width: 1240px;
  height: 908px;
  left: 100px;
  top: 1900px;
}
.contenttext {
  position: absolute;
  width: 723px;
  height: 133px;
  left: 259px;
  top: 0px;
}
.titleemain {
  position: absolute;
  left: 10%;
  right: 20.81%;
  top: 0%;
  bottom: 93.83%;
  width: 723px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  text-align: center;

  color: #234cad;
}
.texttbody {
  position: absolute;
  left: 30%;
  right: 32.82%;
  top: 50%;
  bottom: 85.35%;
  width: 425px;
  height: 52px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: #234cad;
}
.content3 {
  position: absolute;
  width: 1240px;
  height: 625px;
  left: 0px;
  top: 233px;
  background: #f2f6ff;
  border-radius: 60px;
}
.komponenUI {
  position: absolute;
  width: 1026px;
  height: 595px;
  left: 107px;
  top: 263px;
}
.card1tc {
  position: absolute;

  right: 37%;
  top: -15%;
  bottom: 39.65%;
  width: 276px;
  height: 160px;
  background: #ffffff;
  border-radius: 25px;
}
.icon1tc {
  /* box-sizing: border-box; */

  position: absolute;
  left: 15%;
  right: 54.68%;
  top: 30%;
  bottom: 48.46%;
}
.title3tc {
  position: absolute;
  height: 21px;
  left: 40%;
  top: 20%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #234cad;
}
.information3tc {
  position: absolute;
  height: 21px;
  left: 40%;
  top: 35%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  color: #234cad;
}
.myperson {
  left: 20%;
  right: -200%;
}
.text-block {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 9px;
  border-radius: 100%;
  bottom: 20px;
  margin: 20px -10px 20px 20px;
  border-style: solid;
}

.person01 .text-block p {
  height: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 9px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 50px;
  border-style: solid;
}

.person-1 .text-block-1 p {
  height: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 9px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 80px;
  border-style: solid;
}

.person-2 .text-block-2 p {
  height: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 9px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 110px;
  border-style: solid;
}

.person-3 .text-block-3 p {
  height: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}
.cardd2tc {
  position: absolute;
  left: 65%;
  right: 8.63%;
  top: -15%;
  bottom: 46.26%;
  width: 350px;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
}
.icon2tc {
  position: absolute;
  left: 10%;
  right: 54.68%;
  top: 20%;
  bottom: 48.46%;
}
.tittlec2tc {
  position: absolute;
  height: 21px;
  left: 35%;
  top: 25%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #234cad;
}
.amounttc {
  position: absolute;
  height: 21px;
  left: 35%;
  right: 30%;
  top: calc(50% - 21px / 2 + 12px);

  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}
.cardd3tc {
  position: absolute;
  left: 0%;
  right: 50%;
  bottom: 33.59%;
  width: 350px;
  height: 100px;

  top: 2%;
  background: #ffffff;
  border-radius: 25px;
}
.icon3tc {
  position: absolute;
  left: 10%;
  right: 84.92%;
  top: 20%;

  bottom: 48.46%;
  background-color: #f2f6ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.namecr3tc {
  position: absolute;
  height: 21px;
  left: 33%;
  top: 30%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}
.masaagecr3tc {
  position: absolute;
  height: 21px;
  left: 33%;
  top: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}
.card4tc {
  position: absolute;
  left: 46%;
  right: 24.76%;
  top: -38%;
  bottom: 60.02%;
  width: 350px;
  height: 100px;
  background: #ffffff;
  border-radius: 25px;
}
.initialcr4tc {
  position: absolute;
  left: 9.26%;
  right: 83.35%;
  top: 20%;
  bottom: 63.83%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f6ff;
}
.Pinitialcr4tc {
  position: absolute;
  height: 29px;
  left: 33.33%;
  right: 33.33%;
  top: calc(50% - 29px / 2);

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 132% */

  color: #234cad;
}
.Pnumbercr4tc {
  position: absolute;
  height: 10px;
  left: 40%;
  right: 40%;
  top: calc(50% - 10px / 2);

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 10px;
  /* identical to box height, or 143% */

  color: #ffffff;
}
.notifikasicr4tc {
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  height: 10px;
  left: 70%;
  right: 60%;
  width: 20px;
  height: 20px;
  background: #234cad;
  border: 2.5px solid #ffffff;
}
.pnamecr4tc {
  position: absolute;
  margin-left: 150%;
  size: 20px;
  bottom: 0%;
  top: 20%;
  width: 155px;
  color: #234cad;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.pmassagecr4tc {
  position: absolute;
  margin-left: 150%;
  size: 15px;
  width: 400%;
  bottom: 0%;
  top: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;

  color: #234cad;
}
.ptimecr4tc {
  position: absolute;
  margin-left: 420%;
  width: 300%;
  top: 20%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.card5tc {
  position: absolute;
  right: 30%;
  top: 17%;
  bottom: 39.65%;
  width: 350px;
  height: 100px;
  background: #ffffff;
  border-radius: 25px;
}

.card6tc {
  position: absolute;
  left: 36%;
  right: 24.76%;
  top: 40%;
  bottom: 60.02%;
  width: 130px;
  height: 160px;
  background: #ffffff;
  border-radius: 20px;
}
.iconcr6tc {
  margin: 40px 0 0 35px;
}
.amountcr6tc {
  position: absolute;
  left: 27%;
  top: 85%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
}
.card7tc {
  position: absolute;
  left: 27%;
  right: 24.76%;
  top: 30%;
  bottom: 60.02%;
  width: 75px;
  height: 75px;
  background: #ffffff;
  border-radius: 20px;
}

.card8tc {
  position: absolute;
  left: 36%;
  right: 24.76%;
  top: -34%;
  bottom: 60.02%;
  width: 75px;
  height: 75px;
  background: #ffffff;
  border-radius: 20px;
}

/* Newsletter */
.newsletter {
  position: absolute;
  width: 1240px;
  height: 383px;
  left: 100px;
  top: 4321px;
}

.newsletter-card {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #f2f6ff;
  border-radius: 60px;
}
.newsletter-heading {
  position: absolute;
  left: 27.1%;
  right: 27.02%;
  top: 19.58%;
  bottom: 65.8%;
  width: 569px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234cad;
}

.newsletter-description {
  position: absolute;
  left: 36.05%;
  right: 35.89%;
  top: 40.73%;
  bottom: 45.69%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234cad;
}

.newsletter-form {
  position: absolute;
  left: 29.84%;
  right: 29.84%;
  top: 63.45%;
  bottom: 19.58%;
  background: #ffffff;
  border-radius: 17.5px;
  width: 500px;
  height: 65px;
}

.newsletter-form input {
  width: 100%;
  height: 60px;
  border: 0;
  background: none;
  padding: 0 30px;
  outline: none;
  font-size: 15px;
  padding-right: 80px;
}

.newsletter-form button {
  position: absolute;
  left: 89%;
  right: 2%;
  top: 15.38%;
  bottom: 15.38%;
  background: #234cad;
  border-radius: 12.5px;
}

.newsletter-form button:hover {
  opacity: 0.5;
}

.newsletter-form:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 768px) {
  /* CSS untuk layar kecil */
  .newsletter_card {
    width: 100%;
    text-align: center;
  }
  .newsletter-input {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /* CSS untuk layar besar */
  .newsletter_card {
    width: 50%;
    margin: 0 auto;
  }
  .newsletter-input {
    width: 60%;
    margin-right: 10px;
  }
}
